@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TANNIMBUS';
    src: url('./fonts/TAN-NIMBUS.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('./fonts/YsabeauOffice-Light.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

.active{
    min-width: fit-content;
    min-height: ;
    background-color: #FCD34D;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 60px;
}