@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TANNIMBUS';
    src: url('./fonts/TAN-NIMBUS.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
